* {
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "微软雅黑";
	font-style: normal;
	font-size: 14px;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.fast {
	background:url('../img/right.png');
	animation-duration: 0.3s;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
	opacity: 0
}