.app {
	color: #333;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.x-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	padding: 50px 0 20px 20px;
}

.x-menu li {
	cursor: pointer;
	border: 1px solid transparent;
	transition: all ease-in-out .3s;
}

.x-menu li.active {
	border: 1px solid #ddd;
	background:#ddd
}

.x-main {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	bottom: 0;
	padding: 40px;
	overflow: auto;
}

.x-main>div {
	position: absolute;
}

.content {
	position: absolute;
	background: #fff;
}

.x-hide {
	opacity: 0;
}