.app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.x-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
}

.x-main {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
}

.ok {
    margin: 0 auto;
    color: #999;
    height: 88px;
    width: 88px;
    background: url("../assests/img/right.png") no-repeat;
    background-size: 100%;
}