<div>
	<titlebar type="windows" full v-bind:initState="state" @changeState="windowChange"></titlebar>
	<div class="x-menu">
		<h1>Menu</h1>
		<ul>
			<router-link tag="li" v-for="item in routes" v-if="item.text" active-class="active" :to="item.path">
				{{item.text}}
			</router-link>
		</ul>
	</div>
	<div class="x-main">
		<transition enter-class="x-hide" enter-active-class="animated fadeInLeft fast" leave-active-class="animated fadeOutRight fast">
			<keep-alive>
				<router-view class="content"></router-view>
			</keep-alive>
		</transition>
	</div>
</div>