.root {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin:0 auto;
}

.ok {
    margin:0 auto;
    color: #999;
    height: 88px;
    width: 88px;
    background: url("../assests/img/right.png") no-repeat;
    background-size: 100%;
}